@import "components/prefixer";
@import "components/color";

// ********************************************************
// *                       Utility                        *
// ********************************************************

%background-stretch {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}

body {
	font-family: "LatoWeb", sans-serif;
}

// ********************************************************
// *                         Hero                         *
// ********************************************************

.hero {
	background-image: url('../images/couple.jpg');
	@extend %background-stretch;
	position: relative;
	height: 100vh;

	.content {
		position: absolute;
		top: 100px;
		left: 50%;
		@include transform(translateX(-50%));
		text-align: center;
		color: color("blue-grey", "darken-2");
	}

	.title {
		font-size: 60px;
		margin-bottom: 18px;
	}

	.coming-soon {
		font-size: 20px;
		line-height: 38px;
		border: 1px solid color("blue-grey", "darken-2");
		border-radius: 5px;
		display: inline-block;
		padding-left: 11px;
		padding-right: 12px;
		padding-bottom: 1px;
	}
}

.container {
	padding-top: 175px;
	padding-bottom: 175px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
	max-width: 980px;
	font-family: "LatoWebLight";
	font-size: 25px;
}

.title {
	font-size: 38px;
	font-weight: 900;
}

.btn {
	font-size: 17px;
}


.example {
	.container {
		overflow: hidden;
	}

	.image {
		background-image: url('../images/master_chief_sword.jpg');
		@extend %background-stretch;
		width: 480px;
		height: 270px;
		float: left;
		margin-right: 40px;
		@include transform(translateY(17px));
	}

	.content {
		width: 460px;
		float: left;
	}

	&.inverse {
		.image {
			float: right;
			margin-left: 40px;
			margin-right: 0;
		}

		.content {
			float: right;
		}
	}
}

$examples: (gaming, "red"),
		   (weirdness, "purple");

@each $example, $color in $examples {
	.#{$example} {
		background-color: color($color, "lighten-5");
	}

	.#{$example}-btn {
		$example-button-background-color: color($color, "darken-2");
		background-color: $example-button-background-color;

		&:hover,
		&:focus {
			background-color: lighten($example-button-background-color, 5%);
		}
	}
}
